/*
=======================================
CSCI225 Website by Joshua Rogers
=======================================
01 color
02 layout
03 font
04 other decoration
*/

/*
=========
01 color
=========
*/

div.navbar {
    background-color: aqua;
}

div.introduction {
    background-color: darkblue;
}

div.assignment {
    background-color: aquamarine;
}

div.portfolio {
    background-color: cornflowerblue;
}

div.contact {
    background-color: darkcyan;
}

div.schedule {
    background-color: dodgerblue;
}

footer {
    background-color: blue;
}

li {
    background-color: beige;
}

h1 {
    background-color: lightseagreen;
}

#portp1{
    background-color: indianred;
}

/*
==========
02 layout
==========
*/
/*Fixed Positions*/
div.fixed-container,
footer {
    position: fixed;
}

/*Absolute positions*/
div.content-container,
div.assignment {
    position: absolute;
}

/*fixed container*/
div.fixed-container{
    top: 0;
    left: 0;
    z-index: 99;
    height: 250px;
    width: 100%;
}
/* Navigation Bar*/
div.navbar {
    width: 100%;
    height: 25%;
    margin: 0;
    padding-top: 1px;
}

#navlist li {
    display: inline;
    width: auto;
    padding: 3px;
    height: 20px;

}

/*Intro*/
div.introduction {
    width: 100%;
    height: 75%;
}

#introhead {
    display: none;
}

#intropara {
    float: left;
    width: 60%;
}

#catpic {
    float: right;
    height: 100%;
    width: 20%;
}


/*Assignment*/
div.assignment {
    left: 80%;
    top: 250px;
    width: auto;
    height: auto;
}

#asgnlist li {
    float: right;
    padding: 1% 5%;
    margin: 3%;
    display: grid;
    width: 90%;
    height: 5%;
}

#asgnhead{
    width: auto;
    margin-left: 5%;
}
/*content container*/
div.content-container{
    top: 250px;
    width: 80%;
    left: 0;
    padding-bottom: 40px;
}
/*Portfolio*/
div.portfolio {
    height: auto;
    padding-top: 1px;
}

#porthead{
    margin-left: 5%;
    width: auto;
}

#portlist li{
    width: auto;
    padding: 0.1%;
    margin: 0.5%;
}

#portp1{
    width: auto;
    height: 30%;
}

/*Contact Info*/
div.contact {
    padding-top: 1px;
    height: auto;
}

#conthead{
    margin-left: 5%;
    width: auto;
}

#contlist li{
    width: auto;
    padding: 0.1%;
    margin: 1%;
}

/*Schedule*/
div.schedule {
    padding-top: 1px;
    height: auto;
}

#schedhead{
    width: auto;
    margin-left: 5%;
}

/*Copyright*/
footer {
    bottom: 0;
    left: 45%;
    width: auto;
    height: 40px;
}

/*
=========
03 Font
=========
*/
/*Paragraphs*/
p {
    font-family: 'Playfair Display', sans-serif;
    color: beige;
    line-height: 125%;
    text-align: left;
    font-size: 0.8em;
}

/*Lists*/
ul,
ol {
    color: darkslategrey;
    font-size: 1.1em;
    font-weight: 250;
}

#navlist li {
    text-align: center;
}

/*H1 Headers*/
h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*Footer*/
footer {
    text-align: center;
}

/*Links*/
a {
    text-decoration: none;
}

/*Links-Hover*/
a:hover {
    color: white;
}

/*
====================
04 Other Decoration
====================
*/
/*Background*/
body {
    background-image: url(../img/skybackground.png);
    background-size: 100%;
}

/*Main Blocks*/
div.portfolio,
div.contact,
div.schedule,
div.assignment {
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

/*Top Block*/
div.introduction {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

/*Rounded Corners to li elements*/
li {
    border-radius: 25px;
    margin: 2%;
}

/*Rounded Corners to H1 elements*/
h1 {
    border-radius: 25px;

}

/*Special Style (To first letter of a paragraph)*/
p::first-letter{
    font-weight: 700;
    font-size: 1em;
}

/*Box Shadow for first paragraph (Portfolio)*/
#portp1{
    box-shadow: 2px 4px red;
}

/*style table with CSS*/
#tableschedule{
    border: black solid 2px;
    font-size: 0.9em;
    max-height: 60%;
    width: 75%;
    margin-left: 10%;
    border-spacing: 2px;
    empty-cells: hide;
}

#tableschedule tr.thead{
    background-color: chartreuse;
    height: 5%;
}

#tableschedule tr,#tableschedule td{
    border: black solid 1px;
    vertical-align: top;
    text-align: center;
    padding: 0.25%;
}

#tableschedule td{
    width: 10%;
}

#tableschedule tr.even{
    background-color: cornflowerblue;
}

/*h1 transition*/
h1{
    transition-property: color;
}

h1:hover{
    background-color: #fff;
    color: lightseagreen;
    transition-delay: 250ms;
}

/*list image*/
li{
    list-style-image: url(../img/star.png);
}